
.chart-bar {
    width: 100%;
    font: 10px sans-serif;
}
.chart-bar #chart-bar-title {
    text-align: center;
}
.chart-bar tr td {
    vertical-align: top;
}
.chart-bar tr td:nth-child(odd) {
    width: 200px;
}
.chart-bar .axis path,
.chart-bar .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.chart-bar .axis line {
    stroke: #dbdbdb;
}
.chart-bar .bar {
    fill: steelblue;
}
.chart-bar .x.axis path {
    display: none;
}
.chart-bar .group-item {
    display: block;
    margin: 0 0 5px 0;
}
.chart-bar .group-item-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #666;
    float: left;
}
.chart-bar .group-item-label {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    line-height: 20px;
    word-break: break-all;
}
.chart-bar #chart-bar-groups-top .list-groups .group-item,
.chart-bar #chart-bar-groups-bottom .list-groups .group-item {
    display: inline-block;
    margin: 0 10px 5px 0;
}
